extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner UM Login App Tutorial
    div.Message
      div.Title
        h3 Tutorial App by Pinuts
      span.Details Simple demo project that relies on UM Login App to provide a customer login.
    div.NavButtons
      a(href="/user")
          div.NavButton Click here to login!
